services:
  audio-player:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    networks:
      - app-network
  
  db:
    image: mysql:8.0
    ports:
      - "3308:3306"
    restart: always
    environment:
      MYSQL_DATABASE: website_db
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network
  
  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - "8081:80"
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=db
    networks:
      - app-network


networks:
  app-network:
    driver: bridge

volumes:
  db_data: